$header-height: 60px;
$scrollbar-width: 17px;
.overlay{
	position: fixed;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	> .overlay-inner{
		position: relative;
		width: 40px;
		height: 40px;
		overflow: visible;//show icon box shadow
		transition: .25s;

	}
	&.is-expanded{
		> .overlay-inner {
			width: $app-width;
			height: $app-height;
			padding: 15px;
			overflow: hidden;
		}
	}
	.open-suggestion-form{
		position: absolute;
		right: 0;
		bottom: 0;
	}
}


.button.is-floating{
	border-radius: 50%;
	box-shadow:  0 2px 2px 0 rgba(0,0,0,0.14), 
		0 1px 5px 0 rgba(0,0,0,0.12), 
		0 3px 1px -2px rgba(0,0,0,0.2);
}
