$header-height: 60px;
$scrollbar-width: 17px;
//giant circle for the radial transform
.overlay{
	position: fixed;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
	//sized to fit the window.
	> .overlay-inner{
		position: relative;
		width: 40px;
		height: 40px;
		overflow: visible;//show icon box shadow
		transition: .25s;

	}
	&.is-expanded{
		> .overlay-inner {
			width: 100vw;
			height: 100vh;
			padding: 15px;
			overflow: auto;
		}
	}
	.open-suggestion-form{
		position: absolute;
		right: 0;
		bottom: 0;
	}
}


.button.is-floating{
	border-radius: 50%;
	box-shadow:  0 2px 2px 0 rgba(0,0,0,0.14), 
		0 1px 5px 0 rgba(0,0,0,0.12), 
		0 3px 1px -2px rgba(0,0,0,0.2);
}
