@import 'bulma/bulma';
@import 'spacing-helpers';
html{
    overflow: hidden;
}

html, body, #root {
    height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    &.flex-column {
        flex-direction: column;
    }
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.flex{
    display: flex;
    &.column{
        flex-direction: column;
    }
    &.justify-between{
        justify-content: space-between;
    }
    &.justify-around{
        justify-content: space-around;
    }
}

