@import 'bulma/bulma';
@import 'spacing-helpers';
html{
	overflow: hidden;
	min-width: initial !important; /**bulma override**/
}

html, body, #root {
    height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.height-100{
	height: 100%;
}
.width-100{
	width: 100%;
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    &.column {
        flex-direction: column;
    }
}

.flex{
	display: flex;
	flex-wrap: wrap;
	&.nowrap{
		flex-wrap: nowrap;
	}
	&.align-center{
		align-items: center
	}
    &.column{
        flex-direction: column;
	}
	&.justify-start{
		justify-content: flex-start;
	}
	&.justify-end{
		justify-content: flex-end;
	}
    &.justify-between{
        justify-content: space-between;
    }
    &.justify-around{
        justify-content: space-around;
    }
}

.element {
    &.is-loading {
        position: relative;
        pointer-events: none;
        opacity: 0.5;
        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 1.5em);
            left: calc(50% - 1.5em);
            width: 3em;
            height: 3em;
			border-width: 0.25em;
			border: 2px solid $primary;
			border-right-color: transparent;
			border-top-color: transparent;
        }
    }
}

.is-primary input[type=checkbox]:checked+label:before {
    background-color: $primary;
    border-color: $primary;
}