@import 'bulma/bulma';
@import 'spacing-helpers';

:root {
    --theme-color: $primary;
    --theme-color-secondary: $primary-dark;
    // A color that is readable against the primary background.
    --theme-color-contrast: $offwhite;
}
.has-background-theme {
    background-color: var(--theme-color) !important;
}
.has-text-theme {
    color: var(--theme-color) !important;
}
.has-text-theme-contrast {
    color: var(--theme-color-contrast) !important;
}

button.is-primary {
    background-color: var(--theme-color) !important;
    color: var(--theme-color-contrast) !important;
}

.input.is-primary, .textarea.is-primary {
    border-color: var(--theme-color) !important;
}

.input.is-primary:focus,
.input.is-primary.is-focused,
.input.is-primary:active,
.input.is-primary.is-active,
.textarea.is-primary:focus,
.textarea.is-primary.is-focused,
.textarea.is-primary:active,
.textarea.is-primary.is-active {
    box-shadow: 0 0 0 0.125em var(--theme-color) !important;
}
.button.is-primary:focus:not(:active), .button.is-primary.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em var(--theme-color) !important;
}
.load-more-button {
    border: none;
}

html{
	overflow: hidden;
	min-width: initial !important; /**bulma override**/
}

html, body, #root {
    height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.height-100{
	height: 100%;
}
.width-100{
	width: 100%;
}

.absolute-center-self {
	@include absolute-center-self;
}

.flex-center-children {
    @include flex-center-children;
    &.column {
        flex-direction: column;
    }
}

.flex{
	display: flex;
	&.wrap{
		flex-wrap: wrap;
	}
	&.nowrap{
		flex-wrap: nowrap;
	}
	&.align-center{
		align-items: center
	}
    &.column{
        flex-direction: column;
	}
	&.justify-start{
		justify-content: flex-start;
	}
	&.justify-end{
		justify-content: flex-end;
	}
    &.justify-between{
        justify-content: space-between;
    }
    &.justify-around{
        justify-content: space-around;
    }
}

.element {
    &.is-loading {
        position: relative;
        pointer-events: none;
        opacity: 0.5;
        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 1.5em);
            left: calc(50% - 1.5em);
            width: 3em;
            height: 3em;
			border-width: 0.25em;
			border: 2px solid var(--theme-color);
			border-right-color: transparent;
			border-top-color: transparent;
        }
    }
}

.is-primary input[type=checkbox]:checked+label:before {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}
