//variables are injected into every scss file by sass-resources-loader


//material design colors

//orange
$primary: #F57C00;//700
$primary-dark: #E65100;//900

$yellow: #f9a825;

$offwhite: #F6F9FC;

//enforced by twitch
$app-height: 500px;
$app-padding: 10px;
$app-bg-color: white;

$app-darkmode-bg-color: #2E2C35;

@mixin flex-center-children{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute-center-self{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
