//variables are injected into every scss file by sass-resources-loader


//material design colors

//orange
$primary: #F57C00;//700
$primary-dark: #E65100;//900
$primary-light: #FFB74D;//300
$primary-lightest: #FFF3E0;//50

$secondary: #3F51B5;
$secondary-lightest: #e1f5fe;

$offwhite: #F6F9FC;
$blue-grey:#CFD8DC;

//enforced by twitch
$app-height: 500px;
$app-padding: 10px;
$app-bg-color: white;


$app-darkmode-bg-color: #2E2C35;


//linear-gradient(to left, 	#F0FAFE 10%, #e1f5fe 90%);