$avatar-size: 30px;

.suggestion {
	position: relative;
	padding: 10px;
	transition: .35s;
	word-wrap: break-word;
    .suggestion-header{
        display: flex;
        align-items: center;
        .profile-img{
            width: $avatar-size;
            height: $avatar-size;
            .fa-user-circle-o {
                font-size: $avatar-size;
            }
        }
        .suggestion-date{
            color: grey;
		}
		.broadcaster-likes{
			align-self: flex-start;
			margin-left: auto;
			text-align: right;
		}
    }
    .suggestion-text{
        font-size: 0.9rem;
		padding: 15px 0px;
    }
    .suggestion-actions{
        .fa {
            cursor: pointer;
			transition: .25s;
		}
	}
	&:first-child{
		border-top: 1px solid lightgrey;
	}
	&:not(:last-child){
		border-bottom: 1px solid lightgrey;
	}
	&.is-deleted{
		background-color: #f4eaea;
		pointer-events: none;
		.fa-trash-o {
			color: darkred;
		}
		.approve-suggestion{
			display: none;
		}
	}
	&.is-approved{
		background-color: #E8F5E9;
		.delete-suggestion{
			display: none;
		}
	}
}