$avatar-size: 30px;

.suggestion {
	position: relative;
	padding: 10px;
	transition: .35s;
    .suggestion-header{
        display: flex;
        align-items: center;
        .profile-img{
            width: $avatar-size;
            height: $avatar-size;
            .fa-user-circle-o {
                font-size: $avatar-size;
            }
        }
        .suggestion-date{
            color: grey;
        }
    }
    .suggestion-text{
        font-size: 0.85rem;
        word-wrap: break-word;
    }
    .suggestion-actions{
        .fa {
            cursor: pointer;
		}
		.fa-trash-o {
			transition: .35s;
			&:hover{
				color: darkred;
			}
		}
	}
	&.is-deleted{
		background-color: #f4eaea;
		pointer-events: none;//don't allow any interaction such as upvoting etc.
		.fa-trash-o {
			color: darkred;
		}
	}
}