$emote-size: 20px;
$popup-width: 290px;
$popup-height: 150px;

.emote {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.open-emotes .fa{
		margin-left: auto;
		color: grey;
		&:hover{
			color: $primary;
		}
	}
	.emote-image-wrapper{
		height: $emote-size;
		width: $emote-size;
		margin: 2px;
		@include flex-center;
	}
	.emote-image {
		height: $emote-size;
		width: $emote-size;
		object-fit: contain;
		cursor: pointer;
	}
	.reaction{
		border: 1px solid lightgrey;
		border-radius: 5px;
		@include flex-center;
		margin: 0px 4px 4px 4px;
		.reaction-count{
			margin: 2px;
			font-size: 0.75rem;
		}
	}
	.popper{
		z-index: 10;
		width: $popup-width;
		height: $popup-height;
	}	
	.show-all-emotes{
		cursor: pointer;
		margin-left: 10px;
	}
}

.emote-explorer{
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 100%;
	height: 100%;
	background: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	
	.emote-grid{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 5px 0px;
	}
	.field{
		margin-top: auto;
	}
}