.viewer{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: $app-padding;
    height: $app-height;
    max-height: $app-height;
	overflow-y: scroll;
	background: $app-bg-color;
}