.viewer{
    position: relative;
    display: flex;
    flex-direction: column;
    height: $app-height;
    max-height: $app-height;
	overflow-y: scroll;
    overflow-x: hidden;
	background: $app-bg-color;
}

.viewer.dark-mode{
	background: $app-darkmode-bg-color;
	color: #f9f9f9;
	.overlay{
		background: $app-darkmode-bg-color !important;
	}
}