

.app{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    padding: $app-padding;
    width: $app-width;
    max-width: $app-width;
    height: $app-height;
    max-height: $app-height;
    overflow-y: scroll;
}