.config{
	padding: 30px;
	height: 100%;
	overflow: auto;

	.post-cooldown{
		.is-grouped .field{
			margin-right: 0.75rem;
		}
		label{
			font-weight: 400;
		}
		input[type="number"]{
			max-width: 75px;
		}
    }
    .subtitle {
        margin-bottom: 5px;
        & + p.help {
            margin-bottom: 15px;
        }
    }
    form > * {
        margin-bottom: 30px;
    }
}
