$avatar-size: 30px;

.suggestion {

    .suggestion-header{
        display: flex;
        align-items: center;
        .profile-img{
            width: $avatar-size;
            height: $avatar-size;
            .fa-user-circle-o {
                font-size: $avatar-size;
            }
        }
        .suggestion-date{
            color: grey;
        }
    }
    .suggestion-text{
        font-size: 0.85rem;
        word-wrap: break-word;
    }
    .suggestion-toolbar{
        .fa {
            cursor: pointer;
        }
    }
}